.header {
  overflow: auto;
  padding: 60px; }
  .header div:first-child {
    position: relative; }
    .header div:first-child i {
      font: 400 0.8rem "Merriweather", serif;
      text-transform: uppercase;
      transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
      color: #E0BB77;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      float: left; }
    .header div:first-child p {
      padding-left: 20px;
      display: inline;
      font: 300 1.4rem "Merriweather", serif;
      text-transform: none;
      transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
      color: #E0BB77;
      line-height: 1.6; }
    .header div:first-child a {
      border: solid 1px #E0BB77;
      background: url("../img/sprite.view.svg") no-repeat 69.2% 85.71429%;
      width: 32px;
      height: 32px;
      float: right;
      margin-top: -2px; }
  .header div:last-child {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 60px;
    right: 50%;
    margin-right: -28px;
    border: solid 1px #E0BB77; }

@media (max-width: 450px) {
  .header {
    padding: 28px 20px 40px 20px; }
    .header div:first-child a {
      width: 28px;
      height: 28px;
      background-position: 69% 85.71429%; }
    .header div:first-child p {
      font: 300 1.2rem "Merriweather", serif;
      text-transform: none;
      transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
      color: #E0BB77; }
    .header div:last-child {
      width: 40px;
      height: 40px;
      top: 24px; } }
