@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Regular.woff2") format("woff2"), url("../font/Lato/Lato-Regular.woff") format("woff"), url("../font/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: "Lato-Bold";
  src: url("../font/Lato/Lato-Bold.woff2") format("woff2"), url("../font/Lato/Lato-Bold.woff") format("woff"), url("../font/Lato/Lato-Bold.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: "Merriweather";
  src: url("../font/Merriweather/Merriweather-Regular.woff2") format("woff2"), url("../font/Merriweather/Merriweather-Regular.woff") format("woff"), url("../font/Merriweather/Merriweather-Regular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: "Merriweather-Light";
  src: url("../font/Merriweather/Merriweather-Light.woff2") format("woff2"), url("../font/Merriweather/Merriweather-Light.woff") format("woff"), url("../font/Merriweather/Merriweather-Light.ttf") format("truetype");
  font-style: normal; }

.common-h1 {
  color: #E0BB77; }

.webkit-h1 {
  background: linear-gradient(to right, #edc580 0%, #edc580 4%, #d8b472 14%, #ccad69 22%, #b0965a 31%, #b0965a 100%);
  -webkit-background-clip: text;
  color: transparent; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  cursor: default; }

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer; }

a {
  text-decoration: none;
  cursor: pointer; }

#fp {
  color: #969696;
  line-height: 1.6; }

.slide {
  min-width: 320px; }

.slide:first-child {
  background: #282828;
  font: 100 1.2rem "Lato", sans-serif;
  line-height: 2; }
  .slide:first-child i {
    font: 400 0.8rem "Merriweather", serif;
    text-transform: uppercase;
    transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
    color: #E0BB77;
    display: block;
    position: absolute;
    left: 100px;
    top: 100px; }
  .slide:first-child h1 {
    font: 900 6.6rem "Lato", sans-serif;
    line-height: 1;
    text-transform: uppercase;
    margin: 0; }
  .slide:first-child h2 {
    font: 200 1.8rem "Merriweather-Light", serif;
    line-height: 2;
    margin: 0; }
  .slide:first-child div {
    overflow: auto;
    width: 1000px;
    margin: 0 auto; }
  .slide:first-child p {
    margin: 20px 0 40px 0; }
  .slide:first-child button {
    text-transform: uppercase;
    vertical-align: middle;
    border: solid 1px #E0BB77;
    border-radius: 28px/50%;
    width: 180px;
    height: 60px;
    color: #E0BB77; }
    .slide:first-child button i {
      background: url("../img/sprite.view.svg") no-repeat 80% 83.2%;
      position: static;
      display: block;
      float: right;
      padding-right: 14px;
      width: 12px;
      height: 12px; }
  .slide:first-child button:focus {
    outline: none; }

.slide:last-child {
  background: url("../img/bg-index.png") no-repeat center bottom #121212;
  background-size: cover;
  text-align: center;
  overflow-y: auto; }
  .slide:last-child .menu-header {
    overflow: auto;
    padding: 40px 60px 10px 60px; }
    .slide:last-child .menu-header div, .slide:last-child .menu-header button {
      width: 28px;
      height: 28px; }
    .slide:last-child .menu-header div {
      font: 400 1.8rem 'Merriweather', serif;
      float: left;
      vertical-align: middle;
      color: #E0BB77; }
    .slide:last-child .menu-header button {
      float: right;
      background: url("../img/sprite.view.svg") no-repeat 60.6% 84.6%;
      border: solid 1px #E0BB77;
      display: block; }
  .slide:last-child .row {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .slide:last-child .row div {
      float: left;
      width: 180px;
      height: 196px;
      padding: 20px;
      box-sizing: border-box; }
    .slide:last-child .row div:hover {
      border: solid 1px #E0BB77; }
    .slide:last-child .row div:active {
      border: solid 1px #969696; }
    .slide:last-child .row a {
      display: block;
      width: 100%;
      height: 100%;
      text-transform: uppercase;
      color: #fff;
      font: 900 1.4rem "Lato-Bold", sans-serif;
      line-height: 1; }
    .slide:last-child .row i {
      display: block;
      width: 60px;
      height: 60px;
      margin: 0 auto 12px auto;
      background: url("../img/sprite.view.svg") no-repeat; }
    .slide:last-child .row h3 {
      color: #E0BB77;
      font: 300 1.4rem "Merriweather-Light", serif;
      line-height: 2;
      margin: 0;
      text-transform: none; }
  .slide:last-child .row:nth-child(2) div:first-child i {
    background-position: 90.9090909090909% 15%; }
  .slide:last-child .row:nth-child(2) div:first-child + div i {
    background-position: 0 100%; }
  .slide:last-child .row:nth-child(2) div:last-child i {
    background-position: 90.9090909090909% 75%; }
  .slide:last-child .row:nth-child(3) div:first-child i {
    background-position: 13.636363636363637% 100%; }
  .slide:last-child .row:nth-child(3) div:first-child + div i {
    background-position: 27.272727272727273% 100%; }
  .slide:last-child .row:nth-child(3) div:last-child i {
    background-position: 45.45454545454545% 75%; }
  .slide:last-child .row:nth-child(4) div:first-child i {
    background-position: 90.9090909090909% 45%; }
  .slide:last-child .row:nth-child(4) div:first-child + div i {
    background-position: 72.72727272727273% 75%; }
  .slide:last-child .menu-footer {
    padding: 100px 0 8px 0; }
    .slide:last-child .menu-footer p {
      color: #969696;
      font: 300 0.8rem "Lato", sans-serif;
      line-height: 1;
      text-transform: uppercase; }
    .slide:last-child .menu-footer div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px; }
    .slide:last-child .menu-footer a {
      width: 40px;
      height: 28px;
      display: block;
      background: url("../img/sprite.view.svg") no-repeat; }
    .slide:last-child .menu-footer a:first-child {
      background-position: 86.95652173913044% 85.71428571428571%; }
    .slide:last-child .menu-footer a:nth-child(2) {
      background-position: 100% 11.6%; }
    .slide:last-child .menu-footer a:nth-child(3) {
      background-position: 52.17391304347826% 85.71428571428571%; }
    .slide:last-child .menu-footer a:last-child {
      background-position: 73.91304347826087% 94.6%; }

@media (max-width: 1200px) {
  .slide:first-child div {
    width: 800px; } }

@media (max-width: 1000px) {
  .slide:first-child div {
    width: 700px; }
  .slide:first-child p {
    margin: 20px 0 60px 0; } }

@media (max-width: 900px) {
  .slide:first-child div {
    width: 600px; }
  .slide:first-child h1 {
    font-size: 6rem; }
  .slide:first-child h2 {
    font-size: 1.7rem; } }

@media (max-width: 800px) {
  .slide:first-child div {
    width: 500px; }
  .slide:first-child h1 {
    font-size: 5.8rem;
    margin-top: 40px; }
  .slide:first-child h2 {
    line-height: 1.4; }
  .slide:last-child .menu-header {
    padding: 20px 60px 40px 60px; }
  .slide:last-child .row div {
    float: left;
    width: 160px;
    height: 178px;
    padding: 20px; }
  .slide:last-child .row h3, .slide:last-child .row a {
    font-size: 1.2rem; }
  .slide:last-child .menu-footer {
    padding: 160px 0 8px 0; } }

@media (max-width: 700px) {
  .slide:first-child {
    line-height: 1.8; }
    .slide:first-child div {
      width: 500px; }
    .slide:first-child i {
      left: 80px;
      top: 80px; } }

@media (max-width: 600px) {
  .slide:first-child {
    line-height: 1.6; }
    .slide:first-child div {
      width: 420px; }
    .slide:first-child i {
      left: 60px;
      top: 60px; }
    .slide:first-child h1 {
      margin: 0;
      font-size: 5.4rem; }
    .slide:first-child h2 {
      line-height: 1.2; } }

@media (max-width: 500px) {
  .slide:first-child {
    font-size: 1rem;
    text-align: justify; }
    .slide:first-child div {
      width: 340px; }
    .slide:first-child i {
      left: 40px; }
    .slide:first-child h1 {
      font-size: 4.8rem; }
    .slide:first-child h2 {
      font-size: 1.4rem; }
    .slide:first-child p {
      margin: 20px 0 48px 0; }
    .slide:first-child button {
      margin: 0 auto 100px auto; } }

@media (max-width: 400px) {
  .slide:first-child div {
    width: 260px; }
  .slide:first-child h1 {
    margin: 0;
    font-size: 4.2rem; }
  .slide:first-child h2 {
    font-size: 1.2rem; }
  .slide:first-child p {
    margin: 28px 0 48px 0; }
  .slide:first-child button {
    margin: 0 auto; }
  .slide:last-child .row {
    margin: 0 10px; } }
