@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Regular.woff2") format("woff2"), url("../font/Lato/Lato-Regular.woff") format("woff"), url("../font/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: "Lato-Bold";
  src: url("../font/Lato/Lato-Bold.woff2") format("woff2"), url("../font/Lato/Lato-Bold.woff") format("woff"), url("../font/Lato/Lato-Bold.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: "Merriweather";
  src: url("../font/Merriweather/Merriweather-Regular.woff2") format("woff2"), url("../font/Merriweather/Merriweather-Regular.woff") format("woff"), url("../font/Merriweather/Merriweather-Regular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: "Merriweather-Light";
  src: url("../font/Merriweather/Merriweather-Light.woff2") format("woff2"), url("../font/Merriweather/Merriweather-Light.woff") format("woff"), url("../font/Merriweather/Merriweather-Light.ttf") format("truetype");
  font-style: normal; }

.header {
  overflow: auto;
  padding: 60px; }
  .header div:first-child {
    position: relative; }
    .header div:first-child i {
      font: 400 0.8rem "Merriweather", serif;
      text-transform: uppercase;
      transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
      color: #E0BB77;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      float: left; }
    .header div:first-child p {
      padding-left: 20px;
      display: inline;
      font: 300 1.4rem "Merriweather", serif;
      text-transform: none;
      transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
      color: #E0BB77;
      line-height: 1.6; }
    .header div:first-child a {
      border: solid 1px #E0BB77;
      background: url("../img/sprite.view.svg") no-repeat 69.2% 85.71429%;
      width: 32px;
      height: 32px;
      float: right;
      margin-top: -2px; }
  .header div:last-child {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 60px;
    right: 50%;
    margin-right: -28px;
    border: solid 1px #E0BB77; }

@media (max-width: 450px) {
  .header {
    padding: 28px 20px 40px 20px; }
    .header div:first-child a {
      width: 28px;
      height: 28px;
      background-position: 69% 85.71429%; }
    .header div:first-child p {
      font: 300 1.2rem "Merriweather", serif;
      text-transform: none;
      transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
      color: #E0BB77; }
    .header div:last-child {
      width: 40px;
      height: 40px;
      top: 24px; } }

.footer {
  margin-top: 100px; }
  .footer h3 {
    font: 900 1.8rem "Lato-Bold", sans-serif;
    line-height: 1;
    color: #fff;
    margin: 10px 0; }
  .footer i {
    font: 400 0.8rem "Merriweather", serif;
    text-transform: uppercase;
    transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
    color: #E0BB77;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer div {
    margin: 0 auto;
    overflow: auto; }
  .footer div:first-child {
    padding: 10px;
    width: 40px; }
  .footer .city {
    margin: 40px auto;
    text-align: left;
    text-transform: uppercase;
    -moz-transform: matrix(0.99991, 0, 0, 1.00001, 0, 0);
    -webkit-transform: matrix(0.99991, 0, 0, 1.00001, 0, 0);
    -ms-transform: matrix(0.99991, 0, 0, 1.00001, 0, 0);
    width: 900px; }
    .footer .city div {
      font: 300 0.8rem "Lato", sans-serif;
      line-height: 1.6;
      width: 328px; }
    .footer .city div:first-child {
      float: left;
      padding: 0; }
    .footer .city div:last-child {
      float: right; }
    .footer .city a {
      display: block;
      margin-top: 28px;
      color: #969696;
      font-size: .8rem;
      line-height: 2; }
  .footer .city + div {
    font-size: .6rem;
    line-height: 2;
    margin-bottom: 40px;
    text-align: center; }
  .footer span {
    color: #E0BB77; }

@media (max-width: 1000px) {
  .footer {
    margin-top: 80px; }
    .footer .city {
      width: 600px;
      margin: 28px auto 40px auto; }
      .footer .city div {
        width: 220px; } }

@media (max-width: 700px) {
  .footer .city {
    width: 480px; }
    .footer .city div {
      width: 188px; }
  .footer h3 {
    font-size: 1.4rem; } }

@media (max-width: 579px) {
  .footer {
    margin-top: 40px; }
    .footer .city {
      width: 420px; } }

@media (max-width: 510px) {
  .footer .city {
    width: 400px; } }

@media (max-width: 450px) {
  .footer .city {
    width: auto;
    margin: 12px auto 40px auto; }
    .footer .city div {
      width: 210px; }
    .footer .city div:first-child, .footer .city div:last-child {
      float: none; }
    .footer .city div:first-child {
      margin-bottom: 40px; }
    .footer .city a {
      margin-top: 16px; }
  .footer .city + div {
    margin-bottom: 28px; }
  i {
    font: 400 0.6rem "Merriweather", serif;
    text-transform: uppercase;
    transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
    color: #E0BB77; } }

.common-h1 {
  color: #E0BB77; }

.webkit-h1 {
  background: linear-gradient(to right, #eec681 0%, #eec681 49%, #917840 57%, #917840 100%);
  -webkit-background-clip: text;
  color: transparent; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  border: solid 4px #E0BB77;
  text-align: center;
  background: #282828;
  color: #969696;
  cursor: default;
  font: 200 1rem "Lato", sans-serif;
  line-height: 1; }

p {
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

h1 {
  font: 900 6.6rem "Lato", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  margin: 0; }

h2 {
  font: 200 1.8rem "Merriweather-Light", serif;
  line-height: 1;
  margin: 14px 0 72px 0; }

main {
  margin-top: 28px; }
  main .section {
    text-transform: uppercase;
    background: #121212;
    padding: 80px 0; }
    main .section a {
      color: #fff;
      display: block;
      line-height: 2.8;
      font: 900 2.4rem "Lato-Bold", sans-serif;
      margin: 20px 0; }
    main .section p:last-child {
      color: #E0BB77;
      display: flex;
      justify-content: center;
      align-items: flex-start; }
    main .section span {
      display: block;
      width: 212px; }
    main .section span:first-child {
      padding-right: 20px; }
  main .section:hover, main .section:active, main .section:focus {
    background: #fff; }
    main .section:hover a, main .section:active a, main .section:focus a {
      color: #121212; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); }
  .modal button {
    border: solid 1px #E0BB77;
    font: 500 1rem "Lato", sans-serif;
    line-height: 1;
    color: #E0BB77;
    width: 32px;
    height: 32px;
    cursor: pointer; }

.m-header {
  width: 1098px;
  overflow: auto;
  margin: 140px auto 24px auto; }
  .m-header button {
    float: right;
    top: 150px;
    right: 200px;
    background: url("../img/sprite.view.svg") no-repeat 60.6% 84.8%; }

.m-main {
  margin: 0 auto;
  overflow: auto;
  width: 1104px; }
  .m-main button:first-child {
    background: url("../img/sprite.view.svg") no-repeat 48% 94.6%;
    margin-right: 20px; }
  .m-main button:last-child {
    background: url("../img/sprite.view.svg") no-repeat 39.4% 94.4%;
    margin-left: 20px; }
  .m-main button {
    margin-top: 680px; }
  .m-main button, .m-main .m-content {
    float: left; }

.m-content {
  width: 998px;
  background: #fff;
  margin: 0 auto 60px auto; }
  .m-content .c-header {
    background: url("../img/bg-content.png") no-repeat center bottom;
    background-size: cover;
    height: 540px; }
  .m-content h3 {
    font: 900 3.4rem "Lato", sans-serif;
    line-height: 1;
    text-transform: uppercase;
    margin: 0; }
  .m-content h4 {
    font: 200 2rem "Merriweather-Light", serif;
    line-height: 2;
    margin: 0 0 20px 0; }
  .m-content img {
    margin: 48px 0;
    height: 546px; }
  .m-content img, .m-content p {
    width: 840px; }
  .m-content p {
    text-align: justify;
    margin-left: 80px;
    font: 400 1rem "Merriweather", serif;
    line-height: 1.6; }
  .m-content .c-footer div {
    overflow: auto; }
  .m-content .c-footer div:first-child button {
    border: solid 1px #f0f0f0;
    color: #969696;
    width: 50%;
    height: 100px;
    float: left;
    margin: 0;
    background: transparent; }
  .m-content .c-footer div:first-child button:first-child {
    border-right: none; }
  .m-content .c-footer div:first-child button:hover, .m-content .c-footer div:first-child button:active {
    background: #f7f7f7; }
  .m-content .c-footer div:last-child {
    float: none;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center; }
  .m-content .c-footer a {
    width: 40px;
    height: 40px;
    display: block;
    background: url("../img/sprite.view.svg") no-repeat;
    float: left;
    margin: 0 22px; }
  .m-content .c-footer a:first-child {
    background-position: 82.6086956521739% 95.23809523809524%; }
  .m-content .c-footer a:first-child + a {
    background-position: 100% 0; }
  .m-content .c-footer a:last-child {
    background-position: 56.52173913043478% 95.23809523809524%; }
  .m-content .c-footer .comments {
    padding: 40px 40px 0 40px; }
    .m-content .c-footer .comments div, .m-content .c-footer .comments div:last-child {
      float: none;
      display: block;
      width: 100%;
      overflow: auto;
      padding: 10px 0;
      margin: 0; }
      .m-content .c-footer .comments div .comments-wrap, .m-content .c-footer .comments div:last-child .comments-wrap {
        width: 780px;
        padding: 0;
        margin: 0 auto; }
    .m-content .c-footer .comments .mid {
      width: 86%;
      margin-left: 12%; }
      .m-content .c-footer .comments .mid .comments-wrap {
        width: 680px; }
    .m-content .c-footer .comments i {
      display: inline-block;
      float: left;
      border-radius: 50%;
      width: 72px;
      height: 72px;
      background: #969696;
      margin: 0; }
    .m-content .c-footer .comments p {
      margin: 0;
      width: 100%;
      display: block;
      overflow: auto; }
    .m-content .c-footer .comments span {
      font-weight: 900;
      line-height: 2; }
    .m-content .c-footer .comments span:first-child {
      float: left; }
    .m-content .c-footer .comments span:last-child {
      float: right; }

@media (max-width: 1300px) {
  .m-header {
    margin: 120px auto 24px auto; } }

@media (max-width: 1260px) {
  .m-header {
    margin: 104px auto 24px auto;
    width: 1018px; }
  .m-main {
    width: 1024px; }
    .m-main button {
      margin-top: 612px; }
  .m-content {
    width: 918px; }
    .m-content .c-header {
      height: 460px; }
    .m-content p, .m-content img {
      width: 760px; }
    .m-content img {
      height: 500px; }
    .m-content .c-footer .comments div .comments-wrap, .m-content .c-footer .comments div:last-child .comments-wrap {
      width: 720px; }
    .m-content .c-footer .comments .mid .comments-wrap {
      width: 620px; } }

@media (max-width: 1230px) {
  main .section {
    padding: 60px 0; }
    main .section a {
      font-size: 2.2rem;
      line-height: 2.6;
      margin: 0 auto; }
    main .section span:first-child {
      padding-right: 0; } }

@media (max-width: 1160px) {
  .m-header {
    width: 968px; }
  .m-main {
    width: 974px; }
  .m-content {
    width: 868px; }
    .m-content p, .m-content img {
      width: 720px; }
    .m-content img {
      height: 480px; }
    .m-content .c-footer .comments div .comments-wrap, .m-content .c-footer .comments div:last-child .comments-wrap {
      width: 640px; }
    .m-content .c-footer .comments .mid .comments-wrap {
      width: 560px; } }

@media (max-width: 1070px) {
  .m-header {
    width: 872px; }
  .m-main {
    width: 900px; }
    .m-main button:first-child {
      margin-right: 14px; }
    .m-main button:last-child {
      margin-left: 14px; }
    .m-main button {
      margin-top: 544px; }
  .m-content {
    width: 798px; }
    .m-content .c-header {
      height: 400px; }
    .m-content p {
      margin-left: 60px; }
    .m-content p, .m-content img {
      width: 680px; }
    .m-content img {
      height: 448px; }
    .m-content .c-footer .comments div .comments-wrap, .m-content .c-footer .comments div:last-child .comments-wrap {
      width: 592px; }
    .m-content .c-footer .comments .mid .comments-wrap {
      width: 520px; } }

@media (max-width: 960px) {
  .m-header, .m-main {
    width: 800px; }
  .m-main button {
    margin-top: 448px; }
  .m-content {
    width: 708px; }
    .m-content .c-header {
      height: 300px; }
    .m-content p, .m-content img {
      width: 590px; }
    .m-content img {
      height: 380px; }
    .m-content .c-footer .comments div .comments-wrap, .m-content .c-footer .comments div:last-child .comments-wrap {
      width: 522px; }
    .m-content .c-footer .comments .mid .comments-wrap {
      width: 454px; }
    .m-content .c-footer .comments i {
      width: 62px;
      height: 62px; } }

@media (max-width: 900px) {
  h1 {
    font-size: 6rem; }
  main .section a {
    font-size: 2rem; } }

@media (max-width: 860px) {
  .m-header {
    width: 680px; }
  .m-main {
    width: 700px; }
    .m-main button {
      margin-top: 400px; }
  .m-content {
    width: 600px; }
    .m-content .c-header {
      height: 260px; }
    .m-content h4 {
      font-size: 1.8rem; }
    .m-content p {
      font-size: .9rem;
      margin-left: 52px; }
    .m-content p, .m-content img {
      width: 500px; }
    .m-content img {
      height: 320px; }
    .m-content .c-footer .comments div .comments-wrap, .m-content .c-footer .comments div:last-child .comments-wrap {
      width: 420px; }
    .m-content .c-footer .comments .mid .comments-wrap {
      width: 364px; } }

@media (max-width: 750px) {
  .m-header {
    width: 600px; }
  .m-main {
    width: 606px; }
    .m-main button {
      margin-top: 376px; }
  .m-content {
    width: 512px; }
    .m-content .c-header {
      height: 240px; }
    .m-content h4 {
      font-size: 1.6rem; }
    .m-content p, .m-content img {
      width: 414px; }
    .m-content img {
      height: 280px;
      margin: 34px 0; }
    .m-content .c-footer .comments div .comments-wrap, .m-content .c-footer .comments div:last-child .comments-wrap {
      width: 340px; }
    .m-content .c-footer .comments .mid .comments-wrap {
      width: 292px; }
    .m-content .c-footer div:last-child {
      padding: 40px 0 60px 0; }
    .m-content .c-footer div:first-child button {
      height: 90px;
      font-size: .8rem; } }

@media (max-width: 700px) {
  h1 {
    font-size: 5.6rem; }
  main .section {
    padding: 60px 80px; }
    main .section a {
      line-height: 1;
      padding: 22px 0; } }

@media (max-width: 670px) {
  .modal button {
    width: 28px;
    height: 28px; }
  .m-header {
    width: 518px;
    margin: 104px auto 18px auto; }
  .m-main {
    width: 526px; }
    .m-main button:first-child {
      background-position: 48% 93.8%; }
    .m-main button:last-child {
      background-position: 39.4% 93.8%; }
    .m-main button {
      margin-top: 344px; }
  .m-content {
    width: 440px; }
    .m-content .c-header {
      height: 220px; }
    .m-content h4 {
      font-size: 1.4rem; }
    .m-content p {
      margin-left: 42px; }
    .m-content p, .m-content img {
      width: 360px; }
    .m-content img {
      height: 240px; }
    .m-content .c-footer div:first-child button {
      height: 80px; }
    .m-content .c-footer .comments {
      padding: 20px 20px 0 20px; }
      .m-content .c-footer .comments div .comments-wrap, .m-content .c-footer .comments div:last-child .comments-wrap {
        width: 314px; }
      .m-content .c-footer .comments .mid .comments-wrap {
        width: 260px; } }

@media (max-width: 578px) {
  main {
    margin-top: 0; }
    main .section {
      padding: 60px 32px; }
  .m-header {
    width: 452px; }
  .m-main {
    width: 460px; }
    .m-main button {
      margin-top: 292px; }
  .m-content {
    width: 374px; }
    .m-content .c-header {
      height: 180px; }
    .m-content h3 {
      font-size: 2.7rem; }
    .m-content h4 {
      font-size: 1.3rem; }
    .m-content p {
      margin-left: 32px; }
    .m-content p, .m-content .m-content img {
      width: 312px; }
    .m-content img {
      height: 200px; }
    .m-content .c-footer div:first-child button {
      height: 72px; }
    .m-content .c-footer div .comments-wrap, .m-content .c-footer div:last-child .comments-wrap {
      width: 248px; }
    .m-content .c-footer .mid {
      width: 90%;
      margin-left: 10%; }
      .m-content .c-footer .mid .comments-wrap {
        width: 212px; } }

@media (max-width: 545px) {
  main .section {
    padding: 60px 52px; }
    main .section a {
      padding: 28px 0; } }

@media (max-width: 500px) {
  .m-header {
    width: 384px;
    margin: 94px auto 18px auto; }
  .m-main {
    width: 400px; }
    .m-main button {
      margin-top: 236px; }
  .m-content {
    width: 314px; }
    .m-content p {
      margin-left: 28px; }
    .m-content p, .m-content img {
      width: 262px; }
    .m-content img {
      height: 174px;
      margin: 24px 0; }
    .m-content .c-footer div:first-child button {
      font-size: .76rem; }
    .m-content .c-footer .comments div .comments-wrap, .m-content .c-footer .comments div:last-child .comments-wrap {
      width: 260px;
      padding: 10px 0; }
    .m-content .c-footer .comments .mid .comments-wrap {
      width: 220px; } }

@media (max-width: 450px) {
  body {
    font-size: .8rem; }
  main .section {
    padding: 20px 28px; }
    main .section a {
      padding: 20px 0;
      font-size: 1.2rem; }
  h1 {
    font-size: 2.6rem; }
  h2 {
    font-size: 1.4rem;
    margin: 14px 0 46px 0; }
  .m-main {
    width: 362px; }
    .m-main button {
      margin-top: 214px; }
  .m-header {
    width: 356px;
    margin: 48px auto 18px auto; }
  .m-content {
    width: 276px; }
    .m-content .c-header {
      height: 140px; }
    .m-content h3 {
      font-size: 2.2rem; }
    .m-content h4 {
      font-size: 1rem; }
    .m-content p {
      margin-left: 20px;
      font-size: .8rem; }
    .m-content p, .m-content img {
      width: 238px; }
    .m-content img {
      height: 160px; }
    .m-content i {
      transform: none; }
    .m-content .c-footer div:first-child button {
      height: 62px; }
    .m-content .c-footer .comments {
      padding: 20px 12px 0 12px; }
      .m-content .c-footer .comments div .comments-wrap, .m-content .c-footer .comments div:last-child .comments-wrap {
        margin: 30px auto;
        width: 240px; }
      .m-content .c-footer .comments .mid .comments-wrap {
        width: 216px; } }

@media (max-width: 400px) {
  .modal button {
    width: 22px;
    height: 22px; }
  .m-header {
    width: 294px; }
    .m-header button {
      background-position: -69px -4943px; }
  .m-main {
    width: 300px; }
    .m-main button:first-child {
      background-position: -36px -4942px;
      margin-right: 6px; }
    .m-main button:last-child {
      margin-left: 6px;
      background-position: -3px -4942px; }
  .m-content {
    width: 242px; }
    .m-content .c-header {
      height: 112px; }
    .m-content h3 {
      font-size: 2rem; }
    .m-content h4 {
      font-size: .9rem; }
    .m-content p, .m-content img {
      width: 200px; }
    .m-content img {
      height: 132px; }
    .m-content .c-footer a {
      width: 32px;
      height: 32px;
      margin: 0 14px; }
    .m-content .c-footer a:first-child {
      background-position: 91.30434782608695% 95.23809523809524%; }
    .m-content .c-footer a:first-child + a {
      background-position: 43.47826086956522% 85.71428571428571%; }
    .m-content .c-footer a:last-child {
      background-position: 65.21739130434783% 95.23809523809524%; }
    .m-content .c-footer .comments div .comments-wrap, .m-content .c-footer .comments div:last-child .comments-wrap {
      width: 208px; }
    .m-content .c-footer .comments .mid .comments-wrap {
      width: 180px; } }
1%; }
    .m-content .c-footer a:last-child {
      background-position: 65.21739130434783% 95.23809523809524%; }
    .m-content .c-footer .comments div .comments-wrap, .m-content .c-footer .comments div:last-child .comments-wrap {
      width: 208px; }
    .m-content .c-footer .comments .mid .comments-wrap {
      width: 180px; } }
