@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Regular.woff2") format("woff2"), url("../font/Lato/Lato-Regular.woff") format("woff"), url("../font/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: "Lato-Bold";
  src: url("../font/Lato/Lato-Bold.woff2") format("woff2"), url("../font/Lato/Lato-Bold.woff") format("woff"), url("../font/Lato/Lato-Bold.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: "Merriweather";
  src: url("../font/Merriweather/Merriweather-Regular.woff2") format("woff2"), url("../font/Merriweather/Merriweather-Regular.woff") format("woff"), url("../font/Merriweather/Merriweather-Regular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: "Merriweather-Light";
  src: url("../font/Merriweather/Merriweather-Light.woff2") format("woff2"), url("../font/Merriweather/Merriweather-Light.woff") format("woff"), url("../font/Merriweather/Merriweather-Light.ttf") format("truetype");
  font-style: normal; }

.header {
  overflow: auto;
  padding: 60px; }
  .header div:first-child {
    position: relative; }
    .header div:first-child i {
      font: 400 0.8rem "Merriweather", serif;
      text-transform: uppercase;
      transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
      color: #E0BB77;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      float: left; }
    .header div:first-child p {
      padding-left: 20px;
      display: inline;
      font: 300 1.4rem "Merriweather", serif;
      text-transform: none;
      transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
      color: #E0BB77;
      line-height: 1.6; }
    .header div:first-child a {
      border: solid 1px #E0BB77;
      background: url("../img/sprite.view.svg") no-repeat 69.2% 85.71429%;
      width: 32px;
      height: 32px;
      float: right;
      margin-top: -2px; }
  .header div:last-child {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 60px;
    right: 50%;
    margin-right: -28px;
    border: solid 1px #E0BB77; }

@media (max-width: 450px) {
  .header {
    padding: 28px 20px 40px 20px; }
    .header div:first-child a {
      width: 28px;
      height: 28px;
      background-position: 69% 85.71429%; }
    .header div:first-child p {
      font: 300 1.2rem "Merriweather", serif;
      text-transform: none;
      transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
      color: #E0BB77; }
    .header div:last-child {
      width: 40px;
      height: 40px;
      top: 24px; } }

.footer {
  margin-top: 100px; }
  .footer h3 {
    font: 900 1.8rem "Lato-Bold", sans-serif;
    line-height: 1;
    color: #fff;
    margin: 10px 0; }
  .footer i {
    font: 400 0.8rem "Merriweather", serif;
    text-transform: uppercase;
    transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
    color: #E0BB77;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer div {
    margin: 0 auto;
    overflow: auto; }
  .footer div:first-child {
    padding: 10px;
    width: 40px; }
  .footer .city {
    margin: 40px auto;
    text-align: left;
    text-transform: uppercase;
    -moz-transform: matrix(0.99991, 0, 0, 1.00001, 0, 0);
    -webkit-transform: matrix(0.99991, 0, 0, 1.00001, 0, 0);
    -ms-transform: matrix(0.99991, 0, 0, 1.00001, 0, 0);
    width: 900px; }
    .footer .city div {
      font: 300 0.8rem "Lato", sans-serif;
      line-height: 1.6;
      width: 328px; }
    .footer .city div:first-child {
      float: left;
      padding: 0; }
    .footer .city div:last-child {
      float: right; }
    .footer .city a {
      display: block;
      margin-top: 28px;
      color: #969696;
      font-size: .8rem;
      line-height: 2; }
  .footer .city + div {
    font-size: .6rem;
    line-height: 2;
    margin-bottom: 40px;
    text-align: center; }
  .footer span {
    color: #E0BB77; }

@media (max-width: 1000px) {
  .footer {
    margin-top: 80px; }
    .footer .city {
      width: 600px;
      margin: 28px auto 40px auto; }
      .footer .city div {
        width: 220px; } }

@media (max-width: 700px) {
  .footer .city {
    width: 480px; }
    .footer .city div {
      width: 188px; }
  .footer h3 {
    font-size: 1.4rem; } }

@media (max-width: 579px) {
  .footer {
    margin-top: 40px; }
    .footer .city {
      width: 420px; } }

@media (max-width: 510px) {
  .footer .city {
    width: 400px; } }

@media (max-width: 450px) {
  .footer .city {
    width: auto;
    margin: 12px auto 40px auto; }
    .footer .city div {
      width: 210px; }
    .footer .city div:first-child, .footer .city div:last-child {
      float: none; }
    .footer .city div:first-child {
      margin-bottom: 40px; }
    .footer .city a {
      margin-top: 16px; }
  .footer .city + div {
    margin-bottom: 28px; }
  i {
    font: 400 0.6rem "Merriweather", serif;
    text-transform: uppercase;
    transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
    color: #E0BB77; } }

.common-h1 {
  color: #E0BB77; }

.webkit-h1 {
  background: linear-gradient(to right, #edc580 0%, #edc580 26%, #b0965a 38%, #b0965a 100%);
  -webkit-background-clip: text;
  color: transparent; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  border: solid 4px #E0BB77;
  text-align: center;
  background: url("../img/cube.png") no-repeat left 600px #282828;
  color: #969696;
  cursor: default;
  font: 300 1.2rem "Lato", sans-serif;
  line-height: 1; }

p {
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

h1 {
  font: 900 6.6rem "Lato", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  margin: 40px 0 0 0; }

h2 {
  font: 200 1.8rem "Merriweather-Light", serif;
  line-height: 1.4; }

h1, h2 {
  text-align: left; }

h2, .inst h3, .inst h4 {
  margin: 0; }

main {
  width: 1200px;
  margin: 0 auto;
  overflow: auto; }
  main ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: auto; }
    main ul li {
      float: left; }
    main ul a {
      font-size: 1rem;
      color: #969696;
      padding: 32px 12px 48px 12px;
      display: block; }
    main ul li:first-child a {
      padding: 32px 12px 48px 0; }
    main ul a:hover {
      color: #E0BB77; }

.wrap {
  overflow: auto; }

.wrap:last-child div {
  margin-bottom: 0; }

.inst {
  background: #121212;
  width: 570px;
  height: 440px;
  float: left;
  margin-bottom: 32px; }
  .inst div {
    width: 570px;
    padding-top: 160px;
    color: #fff;
    text-transform: uppercase;
    display: none; }
  .inst a {
    color: #E0BB77;
    font-size: .8rem; }
    .inst a span {
      padding: 0;
      width: 28px;
      height: 28px;
      display: inline-block;
      background: url("../img/sprite.view.svg") no-repeat 39.13043% 92.4%; }
  .inst h3 {
    font: 300 2rem 'Lato', sans-serif;
    line-height: 1; }
  .inst h4 {
    padding: 6px 0 20px 0;
    font-weight: 600;
    line-height: 1; }

.inst:first-child {
  margin-right: 32px; }

.inst:hover div {
  display: block; }

@media (max-width: 1420px) {
  body {
    background-position: -260px 520px; }
  h1 {
    font-size: 6rem; }
  h2 {
    font-size: 1.4rem; }
  main {
    width: 1036px; }
  .inst {
    width: 500px;
    height: 370px; }
    .inst div {
      width: 500px;
      padding-top: 138px; }
  .footer i {
    padding-left: 8px; } }

@media (max-width: 1260px) {
  body {
    background-position: -300px 460px; }
  h1 {
    font-size: 5.6rem; }
  main {
    width: 952px; }
  .inst {
    width: 460px;
    height: 330px; }
    .inst div {
      width: 460px;
      padding-top: 116px; } }

@media (max-width: 1160px) {
  body {
    background-position: -340px 460px; }
  h1 {
    font-size: 5.4rem; }
  main {
    width: 874px; }
  .inst {
    width: 420px;
    height: 320px; }
    .inst div {
      width: 420px; } }

@media (max-width: 1070px) {
  body {
    background-position: -300px 400px; }
  h1 {
    font-size: 5.2rem; }
  main {
    width: 792px; }
  .inst {
    width: 380px;
    height: 300px;
    margin-bottom: 30px; }
    .inst div {
      width: 380px;
      padding-top: 100px; }
    .inst h3 {
      font-size: 1.8rem; }
    .inst h4 {
      font-size: 1.1rem; }
  .inst:first-child {
    margin-right: 30px; } }

@media (max-width: 960px) {
  main {
    width: 712px; }
    main ul li:first-child a {
      padding: 24px 12px 40px 0; }
    main ul a {
      padding: 24px 12px 40px 12px; }
  .inst {
    width: 340px;
    height: 280px; }
    .inst div {
      width: 340px;
      padding-top: 96px; } }

@media (max-width: 890px) {
  body {
    background-position: -300px 300px; }
  h1 {
    font-size: 5rem;
    margin: 32px 0 0 0; }
  main {
    width: 620px; }
  .inst {
    width: 294px;
    height: 244px; }
    .inst div {
      width: 294px;
      padding-top: 80px; }
    .inst a {
      font-size: .7rem; }
    .inst h3 {
      font-size: 1.6rem; }
    .inst h4 {
      font-size: 1rem; } }

@media (max-width: 750px) {
  body {
    background-position: -300px 1340px; }
  main {
    width: 580px; }
  .inst {
    width: 500px;
    height: 400px;
    float: none;
    margin: 24px auto; }
    .inst div {
      width: 500px;
      padding-top: 160px; }
    .inst a {
      font-size: .8rem; }
    .inst h3 {
      font-size: 1.8rem; }
    .inst h4 {
      font-size: 1.2rem; }
  .inst:first-child {
    margin: 0 auto 12px auto; } }

@media (max-width: 670px) {
  body {
    background-position: -300px 1100px; }
  main {
    width: 500px; }
  .inst {
    width: 420px;
    height: 340px; }
    .inst div {
      width: 420px;
      padding-top: 126px; } }

@media (max-width: 579px) {
  body {
    background-position: -300px 920px; }
  h1 {
    font-size: 4.2rem; }
  main {
    width: 428px; }
    main ul li:first-child a {
      padding: 24px 0 40px 0; }
    main ul a {
      padding: 24px 2px 40px 8px; }
  .inst {
    width: 360px;
    height: 300px; }
    .inst div {
      width: 360px;
      padding-top: 110px; } }

@media (max-width: 510px) {
  body {
    background-position: -300px 824px; }
  h1 {
    font-size: 3.6rem; }
  h2 {
    font-size: 1.2rem; }
  h1, h2 {
    text-align: center; }
  main {
    width: 340px; }
    main ul {
      text-align: left;
      margin-bottom: 24px; }
    main ul li {
      float: none; }
    main ul li:first-child a {
      padding: 24px 0 6px 0; }
    main ul a {
      padding: 6px 0; }
  .inst {
    width: 300px;
    height: 260px; }
    .inst div {
      width: 300px;
      padding-top: 92px; }
    .inst h3 {
      font-size: 1.6rem; }
    .inst h4 {
      font-size: 1rem; } }

@media (max-width: 450px) {
  body {
    background-position: -340px 580px; }
  h1 {
    font-size: 2.8rem; }
  h2 {
    font-size: 1.3rem;
    line-height: 1.2; }
  main {
    width: 260px; }
    main ul a {
      font-size: .9rem; }
  .inst {
    width: 240px;
    height: 200px; }
    .inst div {
      width: 240px;
      padding-top: 60px; }
    .inst h3 {
      font-size: 1.2rem; } }
