@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Regular.woff2") format("woff2"), url("../font/Lato/Lato-Regular.woff") format("woff"), url("../font/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: "Lato-Bold";
  src: url("../font/Lato/Lato-Bold.woff2") format("woff2"), url("../font/Lato/Lato-Bold.woff") format("woff"), url("../font/Lato/Lato-Bold.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: "Merriweather";
  src: url("../font/Merriweather/Merriweather-Regular.woff2") format("woff2"), url("../font/Merriweather/Merriweather-Regular.woff") format("woff"), url("../font/Merriweather/Merriweather-Regular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: "Merriweather-Light";
  src: url("../font/Merriweather/Merriweather-Light.woff2") format("woff2"), url("../font/Merriweather/Merriweather-Light.woff") format("woff"), url("../font/Merriweather/Merriweather-Light.ttf") format("truetype");
  font-style: normal; }

.header {
  overflow: auto;
  padding: 60px; }
  .header div:first-child {
    position: relative; }
    .header div:first-child i {
      font: 400 0.8rem "Merriweather", serif;
      text-transform: uppercase;
      transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
      color: #E0BB77;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      float: left; }
    .header div:first-child p {
      padding-left: 20px;
      display: inline;
      font: 300 1.4rem "Merriweather", serif;
      text-transform: none;
      transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
      color: #E0BB77;
      line-height: 1.6; }
    .header div:first-child a {
      border: solid 1px #E0BB77;
      background: url("../img/sprite.view.svg") no-repeat 69.2% 85.71429%;
      width: 32px;
      height: 32px;
      float: right;
      margin-top: -2px; }
  .header div:last-child {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 60px;
    right: 50%;
    margin-right: -28px;
    border: solid 1px #E0BB77; }

@media (max-width: 450px) {
  .header {
    padding: 28px 20px 40px 20px; }
    .header div:first-child a {
      width: 28px;
      height: 28px;
      background-position: 69% 85.71429%; }
    .header div:first-child p {
      font: 300 1.2rem "Merriweather", serif;
      text-transform: none;
      transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
      color: #E0BB77; }
    .header div:last-child {
      width: 40px;
      height: 40px;
      top: 24px; } }

.footer {
  margin-top: 100px;
  overflow: auto; }
  .footer h3 {
    font: 900 1.8rem "Lato-Bold", sans-serif;
    line-height: 1;
    color: #fff;
    margin: 10px 0; }
  .footer i {
    font: 400 0.8rem "Merriweather", serif;
    text-transform: uppercase;
    transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
    color: #E0BB77;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer div {
    margin: 0 auto;
    overflow: auto; }
  .footer div:first-child {
    padding: 10px;
    width: 40px; }
  .footer .city {
    margin: 40px auto;
    text-align: left;
    text-transform: uppercase;
    -moz-transform: matrix(0.99991, 0, 0, 1.00001, 0, 0);
    -webkit-transform: matrix(0.99991, 0, 0, 1.00001, 0, 0);
    -ms-transform: matrix(0.99991, 0, 0, 1.00001, 0, 0);
    width: 900px; }
    .footer .city div {
      font: 300 0.8rem "Lato", sans-serif;
      line-height: 1.6;
      width: 328px; }
      .footer .city div a {
        margin: 0;
        display: inline; }
      .footer .city div a:hover {
        color: #fff; }
    .footer .city div:first-child {
      float: left;
      padding: 0; }
    .footer .city div:last-child {
      float: right; }
    .footer .city a {
      color: #969696;
      font-size: .8rem;
      line-height: 2; }
    .footer .city p:last-child {
      margin: 28px 0 0 0; }
  .footer .city + div {
    font-size: .6rem;
    line-height: 2;
    margin-bottom: 40px;
    text-align: center; }
  .footer span {
    color: #E0BB77; }

@media (max-width: 1000px) {
  .footer {
    margin-top: 80px; }
    .footer .city {
      width: 600px;
      margin: 28px auto 40px auto; }
      .footer .city div {
        width: 220px; } }

@media (max-width: 700px) {
  .footer .city {
    width: 480px; }
    .footer .city div {
      width: 188px; }
  .footer h3 {
    font-size: 1.4rem; } }

@media (max-width: 579px) {
  .footer {
    margin-top: 40px; }
    .footer .city {
      width: 420px; } }

@media (max-width: 510px) {
  .footer .city {
    width: 400px; } }

@media (max-width: 450px) {
  .footer .city {
    width: auto;
    margin: 12px auto 40px auto; }
    .footer .city div {
      width: 210px; }
    .footer .city div:first-child, .footer .city div:last-child {
      float: none; }
    .footer .city div:first-child {
      margin-bottom: 40px; }
    .footer .city p:last-child {
      margin: 16px 0 0 0; }
  .footer .city + div {
    margin-bottom: 28px; }
  i {
    font: 400 0.6rem "Merriweather", serif;
    text-transform: uppercase;
    transform: matrix(2.10902, 0, 0, 2.10902, 0, 0);
    color: #E0BB77; } }

.common-h1 {
  color: #E0BB77; }

.webkit-h1 {
  background: linear-gradient(to right, #edc580 0%, #edc580 12%, #bb9e5c 29%, #bb9e5c 100%);
  -webkit-background-clip: text;
  color: transparent; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  border: solid 4px #E0BB77;
  text-align: center;
  background: url("../img/cube.png") no-repeat left center #282828;
  color: #969696;
  cursor: default;
  font: 100 1rem "Lato", sans-serif;
  line-height: 1.8; }

p {
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h1, h2 {
  font: 900 6rem "Lato", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  margin: 0; }

h3 {
  font: 200 1.8rem "Merriweather-Light", serif;
  line-height: 1;
  margin: 14px 0 0 0; }

h4 {
  color: #E0BB77;
  text-transform: uppercase;
  margin: 0;
  font: 900 1rem "Lato-Bold", sans-serif;
  line-height: 3; }

main {
  text-align: left;
  margin: 0 auto;
  width: 1300px; }
  main .section {
    overflow: auto; }

.section:first-child {
  margin: 40px 0 100px 0; }
  .section:first-child h3 {
    margin: 14px 0 80px 0; }

.section:first-child .wrap i {
  display: block;
  width: 60px;
  height: 60px;
  margin: 20px;
  background: url("../img/sprite.view.svg") no-repeat; }

.section:first-child .wrap .bookmark {
  background-position: 90.9090909090909% 0; }

.section:first-child .wrap .pen {
  background-position: 90.9090909090909% 60%; }

.section:first-child .wrap .monitor {
  background-position: 90.9090909090909% 30%; }

.section:first-child .wrap .globe {
  background-position: 59.09090909090909% 75%; }

.section:first-child .wrap div div {
  border-left: solid 1px #E0BB77;
  padding: 0 40px 0 16px; }

.wrap {
  float: none;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 0; }
  .wrap div, .wrap i {
    float: left; }

.section:last-child .wrap {
  padding: 100px 0 200px 0; }
  .section:last-child .wrap ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .section:last-child .wrap li {
    float: left;
    margin: 0 auto; }
  .section:last-child .wrap a {
    background: url("../img/sprite.view.svg") no-repeat;
    width: 100px;
    height: 100px;
    display: block; }
  .section:last-child .wrap .adidas {
    background-position: 25% 0; }
  .section:last-child .wrap .adidas:hover {
    background-position: 75% 27.77777777777778%; }
  .section:last-child .wrap .google {
    background-position: 25% 83.33333333333333%; }
  .section:last-child .wrap .google:hover {
    background-position: 0 83.33333333333333%; }
  .section:last-child .wrap .loreal {
    background-position: 75% 55.55555555555556%; }
  .section:last-child .wrap .loreal:hover {
    background-position: 0 0; }
  .section:last-child .wrap .nike {
    background-position: 25% 55.55555555555556%; }
  .section:last-child .wrap .nike:hover {
    background-position: 0 55.55555555555556%; }
  .section:last-child .wrap .samsung {
    background-position: 25% 27.77777777777778%; }
  .section:last-child .wrap .samsung:hover {
    background-position: 0 27.77777777777778%; }
  .section:last-child .wrap .puma {
    background-position: 50% 27.77777777777778%; }
  .section:last-child .wrap .puma:hover {
    background-position: 50% 0; }
  .section:last-child .wrap .microsoft {
    background-position: 75% 0; }
  .section:last-child .wrap .microsoft:hover {
    background-position: 50% 55.55555555555556%; }

@media (max-width: 1400px) {
  main {
    width: 1080px; }
  .section:first-child .wrap div div {
    padding: 0 0 0 16px; } }

@media (max-width: 1300px) {
  h1, h2 {
    font-size: 5.6rem; }
  main {
    width: 900px; }
  .wrap {
    padding: 48px 0; }
  .section:first-child .wrap div div {
    padding: 0 80px 0 16px; }
  .section:last-child .wrap {
    padding: 100px 0 180px 0; } }

@media (max-width: 1070px) {
  main {
    width: 740px; }
  .section:first-child .wrap div div {
    padding: 0 20px 0 16px; }
  .section:last-child .wrap {
    padding: 100px 0 160px 0; }
    .section:last-child .wrap a {
      margin: 0 20px; } }

@media (max-width: 900px) {
  h1, h2 {
    font-size: 5.2rem; }
  h3 {
    font-size: 1.6rem; }
  main {
    width: 600px; }
  .section:first-child h3 {
    margin: 14px 0 40px 0; }
  .section:first-child .wrap {
    display: block;
    padding: 0; }
    .section:first-child .wrap div {
      float: none;
      overflow: auto;
      margin: 16px 66px; }
      .section:first-child .wrap div div, .section:first-child .wrap div i {
        float: left; }
  .section:last-child .wrap {
    padding: 100px 0 140px 0; }
    .section:last-child .wrap a {
      margin: 0 20px 0 0; } }

@media (max-width: 800px) {
  h1, h2 {
    font-size: 4.8rem; }
  h3 {
    font-size: 1.5rem; }
  main {
    width: 500px; }
  .section:first-child .wrap div {
    margin: 16px 46px; }
  .section:last-child .wrap {
    padding: 80px 0 100px 0; }
    .section:last-child .wrap a {
      margin: 0 24px 0 0; } }

@media (max-width: 700px) {
  main {
    width: 460px; }
  .section:first-child .wrap div {
    margin: 16px 36px; }
  .section:last-child .wrap a {
    margin: 0 auto; } }

@media (max-width: 600px) {
  h1, h2 {
    font-size: 4.4rem; }
  h3 {
    font-size: 1.4rem; }
  main {
    width: 368px; }
  .section:first-child .wrap div {
    margin: 16px 12px; }
  .section:last-child .wrap {
    padding: 60px 0 100px 0; } }

@media (max-width: 500px) {
  i {
    transform: none; }
  h1, h2, h3 {
    text-align: center; }
  main {
    width: 332px; }
  .section:first-child h3 {
    margin: 14px 0 12px 0; }
  .section:first-child .wrap div {
    margin: 16px 4px; }
  .section:last-child .wrap {
    padding: 40px 0 80px 0; } }

@media (max-width: 400px) {
  h1, h2 {
    font-size: 3.4rem; }
  h3 {
    line-height: 1.4; }
  main {
    width: 280px; }
  .section:first-child .wrap div {
    margin: 16px 0; }
    .section:first-child .wrap div div {
      padding: 0 0 0 16px;
      width: 120px; }
  .section:last-child .wrap {
    padding: 40px 0; } }
