%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-adidas-dark {
	@extend %svg-common;
	background-position: 25% 0;
}

.svg-adidas-dark-dims {
	width: 100px;
	height: 100px;
}

.svg-adidas-white {
	@extend %svg-common;
	background-position: 75% 27.77777777777778%;
}

.svg-adidas-white-dims {
	width: 100px;
	height: 100px;
}

.svg-arr-left {
	@extend %svg-common;
	background-position: 47.82608695652174% 95.23809523809524%;
}

.svg-arr-left-dims {
	width: 40px;
	height: 40px;
}

.svg-arr-right {
	@extend %svg-common;
	background-position: 39.130434782608695% 95.23809523809524%;
}

.svg-arr-right-dims {
	width: 40px;
	height: 40px;
}

.svg-arr-tiny {
	@extend %svg-common;
	background-position: 78.26086956521739% 85.71428571428571%;
}

.svg-arr-tiny-dims {
	width: 40px;
	height: 40px;
}

.svg-ava {
	@extend %svg-common;
	background-position: 90.9090909090909% 75%;
}

.svg-ava-dims {
	width: 60px;
	height: 60px;
}

.svg-basket {
	@extend %svg-common;
	background-position: 100% 9.523809523809524%;
}

.svg-basket-dims {
	width: 40px;
	height: 40px;
}

.svg-be {
	@extend %svg-common;
	background-position: 86.95652173913044% 85.71428571428571%;
}

.svg-be-dims {
	width: 40px;
	height: 40px;
}

.svg-book {
	@extend %svg-common;
	background-position: 90.9090909090909% 15%;
}

.svg-book-dims {
	width: 60px;
	height: 60px;
}

.svg-bookmark {
	@extend %svg-common;
	background-position: 90.9090909090909% 0;
}

.svg-bookmark-dims {
	width: 60px;
	height: 60px;
}

.svg-fb {
	@extend %svg-common;
	background-position: 52.17391304347826% 85.71428571428571%;
}

.svg-fb-dims {
	width: 40px;
	height: 40px;
}

.svg-fb-big {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-fb-big-dims {
	width: 40px;
	height: 40px;
}

.svg-fb-mid {
	@extend %svg-common;
	background-position: 43.47826086956522% 85.71428571428571%;
}

.svg-fb-mid-dims {
	width: 40px;
	height: 40px;
}

.svg-globe {
	@extend %svg-common;
	background-position: 59.09090909090909% 75%;
}

.svg-globe-dims {
	width: 60px;
	height: 60px;
}

.svg-google-dark {
	@extend %svg-common;
	background-position: 25% 83.33333333333333%;
}

.svg-google-dark-dims {
	width: 100px;
	height: 100px;
}

.svg-google-white {
	@extend %svg-common;
	background-position: 0 83.33333333333333%;
}

.svg-google-white-dims {
	width: 100px;
	height: 100px;
}

.svg-handshake {
	@extend %svg-common;
	background-position: 90.9090909090909% 45%;
}

.svg-handshake-dims {
	width: 60px;
	height: 60px;
}

.svg-linked-big {
	@extend %svg-common;
	background-position: 56.52173913043478% 95.23809523809524%;
}

.svg-linked-big-dims {
	width: 40px;
	height: 40px;
}

.svg-linked-mid {
	@extend %svg-common;
	background-position: 65.21739130434783% 95.23809523809524%;
}

.svg-linked-mid-dims {
	width: 40px;
	height: 40px;
}

.svg-loreal-dark {
	@extend %svg-common;
	background-position: 75% 55.55555555555556%;
}

.svg-loreal-dark-dims {
	width: 100px;
	height: 100px;
}

.svg-loreal-white {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-loreal-white-dims {
	width: 100px;
	height: 100px;
}

.svg-mail {
	@extend %svg-common;
	background-position: 72.72727272727273% 75%;
}

.svg-mail-dims {
	width: 60px;
	height: 60px;
}

.svg-menu {
	@extend %svg-common;
	background-position: 69.56521739130434% 85.71428571428571%;
}

.svg-menu-dims {
	width: 40px;
	height: 40px;
}

.svg-microsoft-dark {
	@extend %svg-common;
	background-position: 75% 0;
}

.svg-microsoft-dark-dims {
	width: 100px;
	height: 100px;
}

.svg-microsoft-white {
	@extend %svg-common;
	background-position: 50% 55.55555555555556%;
}

.svg-microsoft-white-dims {
	width: 100px;
	height: 100px;
}

.svg-monitor {
	@extend %svg-common;
	background-position: 90.9090909090909% 30%;
}

.svg-monitor-dims {
	width: 60px;
	height: 60px;
}

.svg-nike-dark {
	@extend %svg-common;
	background-position: 25% 55.55555555555556%;
}

.svg-nike-dark-dims {
	width: 100px;
	height: 100px;
}

.svg-nike-white {
	@extend %svg-common;
	background-position: 0 55.55555555555556%;
}

.svg-nike-white-dims {
	width: 100px;
	height: 100px;
}

.svg-notebook {
	@extend %svg-common;
	background-position: 45.45454545454545% 75%;
}

.svg-notebook-dims {
	width: 60px;
	height: 60px;
}

.svg-pen {
	@extend %svg-common;
	background-position: 90.9090909090909% 60%;
}

.svg-pen-dims {
	width: 60px;
	height: 60px;
}

.svg-puma-dark {
	@extend %svg-common;
	background-position: 50% 27.77777777777778%;
}

.svg-puma-dark-dims {
	width: 100px;
	height: 100px;
}

.svg-puma-white {
	@extend %svg-common;
	background-position: 50% 0;
}

.svg-puma-white-dims {
	width: 100px;
	height: 100px;
}

.svg-samsung-dark {
	@extend %svg-common;
	background-position: 25% 27.77777777777778%;
}

.svg-samsung-dark-dims {
	width: 100px;
	height: 100px;
}

.svg-samsung-white {
	@extend %svg-common;
	background-position: 0 27.77777777777778%;
}

.svg-samsung-white-dims {
	width: 100px;
	height: 100px;
}

.svg-sand {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-sand-dims {
	width: 60px;
	height: 60px;
}

.svg-tab {
	@extend %svg-common;
	background-position: 13.636363636363637% 100%;
}

.svg-tab-dims {
	width: 60px;
	height: 60px;
}

.svg-tw {
	@extend %svg-common;
	background-position: 73.91304347826087% 95.23809523809524%;
}

.svg-tw-dims {
	width: 40px;
	height: 40px;
}

.svg-tw-big {
	@extend %svg-common;
	background-position: 82.6086956521739% 95.23809523809524%;
}

.svg-tw-big-dims {
	width: 40px;
	height: 40px;
}

.svg-tw-mid {
	@extend %svg-common;
	background-position: 91.30434782608695% 95.23809523809524%;
}

.svg-tw-mid-dims {
	width: 40px;
	height: 40px;
}

.svg-web-page {
	@extend %svg-common;
	background-position: 27.272727272727273% 100%;
}

.svg-web-page-dims {
	width: 60px;
	height: 60px;
}

.svg-x {
	@extend %svg-common;
	background-position: 60.869565217391305% 85.71428571428571%;
}

.svg-x-dims {
	width: 40px;
	height: 40px;
}

